h2 {
    color: #555;
}

.form-input {
    margin-bottom: 0.5rem;
}

.form-input > input, .form-input > select {
    border-radius: 8px;
    padding-left: 1rem;
    box-sizing: border-box;
}

.form-input > div {
    color: #ff0000b0;
    padding-left: 1rem;
    border-color: gray;
}

.form-button {
    padding: 2rem 0 0.5rem 0;
    text-align: center;
}

.form-button > button {
    width: 50%;
    border-radius: 8px;
}